@model Homsey.Core.Contract.IMenuData[]

<script>
    var MainMenuController = function($scope) {
        $scope.width = (1024 / @Model.Count()) + "px";
    }
</script>

<div id="navigationBar" ng-controller="MainMenuController">
    <ul>
        @foreach (var menuItem in Model)
        {
            <li style="width: {{ width }}">
                <a href="@menuItem.AbsoluteURL" class="headMenuItem">@menuItem.Label</a>
                
                <ul>
                    @*@foreach (var subMenuItem in menuItem)
                    {
                        <li class="subMenuItem">
                            <a href="@subMenuItem.AbsoluteURL">@subMenuItem.Label</a>
                        </li>
                    }*@
                </ul>
            </li>
        }
    </ul>
</div>